# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.output/
.nuxt/
.nitro/
.turbo/

# Env
.env
.env.local
.env.*.local

# Prisma
apps/api/prisma/*.db

# Testing / coverage
coverage/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
